@media only screen and (max-width: 1024px) {
  /* Header styles starts */
  header {
    height: 577px;
  }
  .navbar ul {
    width: 50%;
  }

  #featured {
    padding-top: 2%;
    padding-left: 2%;
  }

  #message {
    padding-top: 9%;
  }

  .message-header {
    font-size: 30px;
  }

  .message-body {
    font-size: 19px;
  }

  #featured #message a img {
    width: 130px;
  }

  .message-body {
    padding: 3% 0 3% 0;
  }
  /* Header styles ends */

  .section1-2-content {
    padding: 0 5% 0 5%;
  }

  /* Section 1 styles here */
  .section-header {
    font-size: 20px;
    padding-bottom: 3%;
  }
  /* Section 1 styles ends here */

  /* Section 2 styles starts here */
  .sample-img {
    padding-right: 3%;
  }

  .sample-img,
  .box {
    width: 180px;
  }

  .rect-2-header {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .sample-text {
    font-size: 15px;
  }

  .four-box {
    padding-top: -3%;
    padding-left: 29%;
  }

  .rect-2-message {
    font-size: 11px;
  }
  /* Section 2 styling ends */

  /* Section 3 styling starts here */
  .section-3-content {
    padding: 0 5% 0 5%;
    /* width: 80vw; */
  }

  .phone-2 {
    margin-left: 3%;
  }
  /* Section 3 styling starts here */
}

@media only screen and (max-width: 768px) {
  /* Responsive navbar styles starts at this viewport */
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  /* Header styles starts */
  header {
    max-height: 390px;
  }

  .topnav {
    display: block;
  }

  .navbar {
    display: none;
  }

  .navbar ul {
    width: 50%;
  }

  .navbar ul li a {
    font-size: 12px;
  }

  #featured {
    padding-top: 2%;
    padding-left: 3%;
  }

  #featured img {
    width: 300px;
  }

  #message {
    padding-top: 5%;
  }

  .message-header {
    font-size: 25px;
  }

  .message-body {
    font-size: 16px;
  }

  #featured #message a img {
    width: 100px;
  }
  /* Header styles ends */

  main {
    padding-top: 3%;
  }

  .section1-2-content {
    padding: 0 3% 0 3%;
  }

  /* Section 1 styles here */
  .section-header {
    font-size: 18px;
    padding-bottom: 3%;
  }

  .rect-img {
    width: 40px;
  }

  .rect-heading {
    font-size: 15px;
  }

  .pin {
    width: 150px;
  }

  .rect-text {
    font-size: 13px;
  }

  /* Section 1 styles ends here */

  /* Section 2 styles starts here */
  .section-2a {
    width: 66%;
  }

  .sample-img {
    padding-right: 4%;
  }

  .sample-img,
  .box {
    width: 120px;
  }

  .rect-2-header {
    font-size: 15px;
    padding-bottom: 4px;
  }

  .sample-text {
    font-size: 12px;
  }

  .four-box {
    padding-left: 28%;
  }

  .section-2b {
    width: 60%;
  }

  .rect-2-message {
    font-size: 11px;
  }
  /* Section 2 styling ends */

  /* Section 3 styling starts here */
  .section-3-content {
    padding: 0 5% 0 2%;
  }

  .phone-2 {
    width: 250px;
    height: 430px;
    margin-left: 0%;
  }

  .board {
    width: 350px;
    height: 420px;
  }

  .board-nav {
    padding-left: 30px;
  }

  .star {
    width: 40px;
  }

  .board-header {
    font-size: 20px;
    padding: 38px 0 0 20px;
  }

  .list {
    list-style: none;
    padding-top: 35px;
    font-size: 15px;
    line-height: 20px;
  }

  .btn-2 {
    padding: 30px 0 0 30px;
  }
  /* Section 3 styling starts here */
}

@media only screen and (max-width: 425px) {
  /* Header styles starts here */
  header {
    min-height: 100vh;
  }

  #featured {
    width: 100%;
    display: block;
    text-align: center;
  }

  #featured img {
    width: 400px;
    display: inline-block;
  }

  #message {
    padding-top: 0%;
  }

  .message-header {
    font-size: 40px;
  }

  .message-body {
    font-size: 30px;
  }

  #featured #message a img {
    width: 150px;
  }
  /* Header styles ends here */

  /* Section 1 styles here */
  .section-header {
    color: #00aeb5;
    font-size: 24px;
    padding-bottom: 2%;
    text-align: center;
  }

  .rect-wrapper {
    display: block;
    text-align: center;
    width: 100%;
  }

  .rect {
    width: 80%;
    padding-top: 5%;
    display: inline-block;
  }

  .rect-img {
    width: 60px;
  }

  .rect-heading {
    font-size: 24px;
  }

  .pin {
    width: 220px;
  }

  .rect-text {
    font-size: 20px;
  }

  .section-1 {
    padding-bottom: 7%;
  }
  /* Section 1 styles ends here */

  /* Section 2 styles starts here */
  .section-2 {
    display: block;
  }

  .section-2a {
    width: 95%;
    display: block;
    padding-top: 10%;
    padding-left: 5%;
  }

  .sample-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .sample-img {
    padding-top: 70%;
  }

  .sample-img,
  .box {
    width: 100px;
  }

  .section-2b {
    padding: 15% 0 10% 0;
    width: 100%;
    display: block;
    text-align: center;
  }

  .rect-2 {
    width: 100%;
    display: inline-block;
  }

  .rect-2 + .rect-2 {
    padding-top: 10%;
  }

  .rect-2-message {
    font-size: 20px;
  }

  .line-1 {
    padding-bottom: 1.5%;
  }

  .rect-2-header {
    font-size: 24px;
    padding-bottom: 1%;
  }

  .sample-text {
    font-size: 15px;
  }

  /* Section 2 styling ends */

  /* Section 3 styling starts here */
  .section-3-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0%;
  }
  /* Section 3 styling ends */

  /* Footer styling starts here */
  footer {
    display: block;
    padding: 1% 5% 20% 5%;
    text-align: center;
  }

  .footer-text {
    font-size: 12px;
    padding-bottom: 7%;
  }

  footer .social a + a {
    padding: 0 0.5em;
  }
  /* Footer styling ends here */
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
