/*Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Lato|Nunito&display=swap");
/* <link href="https://fonts.googleapis.com/css?family=Lato|Nunito&display=swap" rel="stylesheet"> */

* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* Mobile navbar style starts here */
.topnav {
  overflow: hidden;
  background: #00aeb5;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
  font-size: 20px;
}
/* Mobile navbar style ends here */

/* Header Style */
header {
  height: 577px;
  width: 100%;
  background: #00aeb5;
  overflow-y: hidden;
}

.topnav {
  display: none;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px 5% 0 5%;
}

.navbar ul {
  width: 39%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
}

#sign-up {
  color: #fff;
  border: 1px solid #fff;
  padding: 2px 10px;
  margin-top: 14px;
  border-radius: 5px;
}

#featured {
  padding-top: 1.5%;
  padding-left: 9%;
  display: flex;
}

#message {
  padding-top: 9%;
  color: #fff;
}

.message-header {
  font-size: 40px;
}

.message-body {
  font-size: 24px;
}

.message-body {
  padding: 2% 0 2% 0;
}
/* Header Style ends here */

main {
  padding-top: 5%;
}

#section1-2 {
  background: url("../img/wave.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.section1-2-content {
  padding: 0 9% 0 9%;
}

/* Section 1 styles here */
.section-header {
  color: #00aeb5;
  font-size: 24px;
  padding-bottom: 2%;
}

.rect-wrapper {
  display: flex;
  justify-content: space-between;
}

.section-1 {
  padding-bottom: 9%;
}
/* Section 1 styles ends here */

/* Section 2 styles starts here */
.section-2 {
  display: flex;
  justify-content: space-between;
}

.section-2a {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.sample-wrapper {
  display: flex;
}

.sample-img {
  padding-top: 10%;
  padding-right: 5%;
}

.sample-text {
  font-size: 18px;
}

.green {
  color: #00aeb5;
  text-decoration: none;
}

.four-box {
  padding-top: -2%;
  padding-left: 29.9%;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-gap: 0px;
}

.box-3 {
  grid-column-start: 2;
}

.section-2b {
  padding-top: 3%;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.sample-heading {
  color: #00aeb5;
  font-size: 20px;
  padding-bottom: 5%;
}

.rect-2-message {
  font-size: 14px;
}

.line-1 {
  padding-bottom: 4%;
}
/* Section 2 styling ends */

/* Section 3 styling starts here */
.section-3 {
  background: url("../img/cross-wave.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 56%;
  padding: 10% 0 15% 0;
}

.section-3-content {
  display: flex;
  justify-content: space-between;
  padding: 0 9% 0 9%;
  /* width: 80vw; */
}

.phone-2 {
  margin-top: 1%;
  margin-left: 3%;
}

.board {
  width: 505px;
  height: 519px;
  border: none;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.board-nav {
  padding-left: 40px;
  display: flex;
}

.board-header {
  color: #00aeb5;
  font-size: 24px;
  padding: 40px 0 0 40px;
}

.list {
  list-style: none;
  padding-top: 35px;
  font-size: 18px;
  line-height: 40px;
}

.list li::before {
  content: "\2022";
  color: #00aeb5;
  font-weight: bold;
  display: inline-block;
  width: 2em;
}

.btn-2 {
  padding: 30px 0 0 40px;
}

.line-wrapper {
  padding: 0 5% 0 5%;
}
/* Section 3 styling ends here */

/* Footer styling starts here */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1% 5% 20% 5%;
}

.footer-text {
  font-size: 12px;
}

footer .social a + a {
  padding: 0 1em;
}
/* Footer styling ends here */

/* Media Queries */
